<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxmedia.buton.bukupelajaran">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bukupelajaran">
        <activity
            android:name=".quis"
            android:exported="true" />
        <activity
            android:name=".video03"
            android:exported="true" />
        <activity
            android:name=".video02"
            android:exported="true" />
        <activity
            android:name=".introduction"
            android:exported="true" />
        <activity
            android:name=".bukujava"
            android:exported="true" />
        <activity
            android:name=".vidpython01"
            android:exported="true" />
        <activity
            android:name=".videobelajar"
            android:exported="true" />
        <activity
            android:name=".informasi"
            android:exported="true" />
        <activity
            android:name=".pdkls11s2"
            android:exported="true" />
        <activity
            android:name=".pdkls11s1"
            android:exported="true" />
        <activity
            android:name=".pdkls10s2"
            android:exported="true" />
        <activity
            android:name=".pdkls10s1"
            android:exported="true" />
        <activity
            android:name=".pemdaskls11"
            android:exported="true" />
        <activity
            android:name=".pemdaskls10"
            android:exported="true" />
        <activity
            android:name=".pemdassmk"
            android:exported="true" />
        <activity
            android:name=".bukucplusplus"
            android:exported="true" />
        <activity
            android:name=".dasboard"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Buku_Python_A5"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
    </application>

</manifest>